<div class="flex flex-col gap-3">
	{{#each this}}
		<section class="flex flex-col border-4 border-gray-800 text-lg">
			<h3 class="bg-gray-800 p-5"></h3>
			<div class="p-4">
				<div class="text">
					{{comment_text}}
				</div>
				<div class="meta">
					~
					{{user.username}}
					,
					{{format_date createdAt}}
				</div>
			</div>
		</section>
	{{/each}}
</div>
