<div
	class="flex flex-row justify-between bg-gray-400 p-3 text-xl rounded-lg text-gray-100"
>
	<a href="/dashboard/edit/{{id}}">
		{{title}}
	</a>
	<span>
		{{format_date createdAt}}
	</span>
</div>
